body{
    heigh:665px;
    background-image: url("homero.jpg");
}

header{
display:inline;
}

#menu ul{
    list-style-type: none;
    text-align: center;
 } 

#menu li{
    display: inline;
    text-align: center;
    margin:0 10px 0 0;
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
}
